<p>
  simple-form works!
</p>
<!--
#myInput is the reference to this item
so you can use this in the following button item
-->
<input #myInput type="text" [(ngModel)]="message.text">
<br>
{{message.text}}
<!--
(click) and (mouseover) are two event name, lead to onClick() function
onClick() is defined in simple-form.component.ts
myInput.value is from the item above
-->
<!--
$event is used for capturing the event on this button item
you can see the different between click button and mouseove rbutton
-->
<br>
<button (click)="onClick($event, myInput.value); update.emit({text: message});">Click me to Console!!</button>
<br>
<button (mouseover)="onClick($event, myInput.value)">Over me!</button>

